<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='img/GI Lixo.jpg')}}"
    <title>Matéria de Geográfia</title>
</head>
<body>
    <h1>Disciplina de Geográfia</h1>
    <br>
    <img src="{{ url_for('static', filename='img/GI Lixo.jpg')}}">
    <br>
    <h3>Notas do Bimestre</h3>
    <hr>
    <ol>
        <li>Nota: 8,5</li>
        <li>Nota: 6,8</li>
        <li>Nota: 7,8</li>
        <li>Nota:9,2</li>
    </ol>
    <p><a href="/">Voltar para a página principal</a></p>
</body>
</html>